<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>steps</string>
	<key>titleImage</key>
	<string>step.jpg</string>
	<key>type</key>
	<integer>0</integer>
	<key>tiers</key>
	<array>
		<array>
			<dict>
				<key>name</key>
				<string>Leaves</string>
				<key>thumbNail</key>
				<string>material1.png</string>
				<key>bigImage</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>Marble</string>
				<key>thumbNail</key>
				<string>material4.png</string>
				<key>bigImage</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>Parquette</string>
				<key>thumbNail</key>
				<string>material2.png</string>
				<key>bigImage</key>
				<string></string>
			</dict>
		</array>
		<array>
			<dict>
				<key>name</key>
				<string>Female Sneakers</string>
				<key>thumbNail</key>
				<string>boot1.png</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Heels</string>
				<key>thumbNail</key>
				<string>boot4.png</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Male Barefoot</string>
				<key>thumbNail</key>
				<string>shoes2.png</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Male Sneakers</string>
				<key>thumbNail</key>
				<string>shoes1.png</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Male Stacatto</string>
				<key>thumbNail</key>
				<string>shoes0.png</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>name</key>
				<string>up stairs</string>
			</dict>
			<dict>
				<key>name</key>
				<string>walk</string>
			</dict>
			<dict>
				<key>name</key>
				<string>run</string>
			</dict>
			<dict>
				<key>name</key>
				<string>down stairs</string>
			</dict>
			<dict>
				<key>name</key>
				<string>scuff</string>
			</dict>
		</array>
	</array>
	<key>sounds</key>
	<dict>
		<key>Leaves</key>
		<dict>
			<key>Female Sneakers</key>
			<dict>
				<key>walk</key>
				<string>Leaves_Female_Sneakers_Walk</string>
				<key>run</key>
				<string>Leaves_Female_Sneakers_Run</string>
				<key>scuff</key>
				<string>Leaves_Female_Sneakers_Scuff</string>
			</dict>
			<key>Heels</key>
			<dict>
				<key>walk</key>
				<string>Leaves_Female_Heels_Walk</string>
				<key>run</key>
				<string>Leaves_Female_Heels_Run</string>
				<key>scuff</key>
				<string>Leaves_Female_Heels_Scuff</string>
			</dict>
			<key>Male Barefoot</key>
			<dict>
				<key>walk</key>
				<string>Leaves_Male_Barefoot_Walk</string>
				<key>run</key>
				<string>Leaves_Male_Barefoot_Run</string>
				<key>scuff</key>
				<string>Leaves_Male_Barefoot_Scuff</string>
			</dict>
			<key>Male Sneakers</key>
			<dict>
				<key>walk</key>
				<string>Leaves_Male_Sneakers_Walk</string>
				<key>run</key>
				<string>Leaves_Male_Sneakers_Run</string>
				<key>scuff</key>
				<string>Leaves_Male_Sneakers_Scuff</string>
			</dict>
			<key>Male Stacatto</key>
			<dict>
				<key>walk</key>
				<string>Leaves_Male_Stacatto_Walk</string>
				<key>run</key>
				<string>Leaves_Male_Stacatto_Run</string>
				<key>scuff</key>
				<string>Leaves_Male_Stacatto_Scuff</string>
			</dict>
		</dict>
		<key>Marble</key>
		<dict>
			<key>Female Sneakers</key>
			<dict>
				<key>up stairs</key>
				<string>Marble_Female_Sneakers_Upstairs</string>
				<key>walk</key>
				<string>Marble_Female_Sneakers_Walk</string>
				<key>run</key>
				<string>Marble_Female_Sneakers_Run</string>
				<key>down stairs</key>
				<string>Marble_Female_Sneakers_Downstairs</string>
				<key>scuff</key>
				<string>Marble_Female_Sneakers_Scuff</string>
			</dict>
			<key>Male Barefoot</key>
			<dict>
				<key>up stairs</key>
				<string>Marble_Male_Barefoot_Upstairs</string>
				<key>walk</key>
				<string>Marble_Male_Barefoot_Walk</string>
				<key>run</key>
				<string>Marble_Male_Barefoot_Run</string>
				<key>down stairs</key>
				<string>Marble_Male_Barefoot_Downstairs</string>
				<key>scuff</key>
				<string>Marble_Male_Barefoot_Scuff</string>
			</dict>
			<key>Male Sneakers</key>
			<dict>
				<key>up stairs</key>
				<string>Marble_Male_Sneakers_Upstairs</string>
				<key>walk</key>
				<string>Marble_Male_Sneakers_Walk</string>
				<key>run</key>
				<string>Marble_Male_Sneakers_Run</string>
				<key>down stairs</key>
				<string>Marble_Male_Sneakers_Downstairs</string>
				<key>scuff</key>
				<string>Marble_Male_Sneakers_Scuff</string>
			</dict>
			<key>Male Stacatto</key>
			<dict>
				<key>up stairs</key>
				<string>Marble_Male_Staccato_Upstairs</string>
				<key>walk</key>
				<string>Marble_Male_Staccato_Walk</string>
				<key>run</key>
				<string>Marble_Male_Staccato_Run</string>
				<key>down stairs</key>
				<string>Marble_Male_Staccato_Downstairs</string>
				<key>scuff</key>
				<string>Marble_Male_Staccato_Scuff</string>
			</dict>
		</dict>
		<key>Parquette</key>
		<dict>
			<key>Female Sneakers</key>
			<dict>
				<key>up stairs</key>
				<string>Parquette_Female_Sneakers_Upstairs</string>
				<key>walk</key>
				<string>Parquette_Female_Sneakers_Walk</string>
				<key>run</key>
				<string>Parquette_Female_Sneakers_Run</string>
				<key>down stairs</key>
				<string>Parquette_Female_Sneakers_Downstairs</string>
				<key>scuff</key>
				<string>Parquette_Female_Sneakers_Scuff</string>
			</dict>
			<key>Heels</key>
			<dict>
				<key>up stairs</key>
				<string>Parquette_Female_Heels_Upstairs</string>
				<key>walk</key>
				<string>Parquette_Female_Heels_Walk</string>
				<key>run</key>
				<string>Parquette_Female_Heels_Run</string>
				<key>down stairs</key>
				<string>Parquette_Female_Heels_Downstairs</string>
				<key>scuff</key>
				<string>Parquette_Female_Heels_Scuff</string>
			</dict>
			<key>Male Barefoot</key>
			<dict>
				<key>up stairs</key>
				<string>Parquette_Male_Barefoot_Upstairs</string>
				<key>walk</key>
				<string>Parquette_Male_Barefoot_Walk</string>
				<key>run</key>
				<string>Parquette_Male_Barefoot_Run</string>
				<key>down stairs</key>
				<string>Parquette_Male_Barefoot_Downstairs</string>
				<key>scuff</key>
				<string>Parquette_Male_Barefoot_Scuff</string>
			</dict>
			<key>Male Sneakers</key>
			<dict>
				<key>up stairs</key>
				<string>Parquette_Male_Sneakers_Upstairs</string>
				<key>walk</key>
				<string>Parquette_Male_Sneakers_Walk</string>
				<key>run</key>
				<string>Parquette_Male_Sneakers_Run</string>
				<key>down stairs</key>
				<string>Parquette_Male_Sneakers_Downstairs</string>
				<key>scuff</key>
				<string>Parquette_Male_Sneakers_Scuff</string>
			</dict>
			<key>Male Stacatto</key>
			<dict>
				<key>up stairs</key>
				<string>Parquette_Male_Staccato_Upstairs</string>
				<key>walk</key>
				<string>Parquette_Male_Staccato_Walk</string>
				<key>run</key>
				<string>Parquette_Male_Staccato_Run</string>
				<key>down stairs</key>
				<string>Parquette_Male_Staccato_Downstairs</string>
				<key>scuff</key>
				<string>Parquette_Male_Staccato_Scuff</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
